@charset "UTF-8";
body {
  background: linear-gradient(273deg, saddlebrown 0%, rgba(252, 252, 234, 0.753) 100%);
}

/*HEADER*/
.header {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: blanchedalmond;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fuenteTitulo {
  font-family: 'Pacifico', cursive;
  color: #7a1616;
  text-decoration: none;
}

#seccion2 {
  margin-top: 6em;
  margin-bottom: 4em;
}

#seccion3 {
  margin-top: 4em;
  margin-bottom: 4em;
}

/*CAROUSEL INICIO*/
.carousel {
  border-left: solid 2px;
  border-right: solid 2px;
}

.imgCarousel {
  height: 35em;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom: solid 2px;
}

li {
  margin-left: 3em;
}

.carousel-caption {
  background: rgba(245, 222, 179, 0.637);
  border-radius: 20px;
}

.fotoLogo {
  height: 15em;
  -o-object-fit: cover;
  object-fit: cover;
}

/*Grilla INICIO*/
.gridGen {
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "area1 area2 area3" "area4 area5 area6";
}

.area1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: area1;
  text-align: center;
  padding: 2em 1em 2em 1em;
}

.area2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area2;
  text-align: center;
  padding: 2em 1em 2em 1em;
}

.area4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: area4;
  text-align: center;
  padding: 2em 1em 2em 1em;
}

.area5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: area5;
  text-align: center;
  padding: 0em 1em 0em 1em;
}

.area6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: area6;
  text-align: center;
  padding: 2em 1em 2em 1em;
}

.area3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: area3;
  text-align: center;
  padding: 2em 1em 2em 1em;
}

/*FOOTER*/
.footer {
  padding-top: 30px;
  background-color: blanchedalmond;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__texto {
  margin-top: 1em;
}

/*SECCION INFORMACIÓN*/
.white {
  background-color: rgba(255, 235, 205, 0.637);
  padding: 1em;
}

.black {
  background-color: rgba(122, 22, 22, 0.884);
  padding: 1em;
}

.blackLink {
  color: black;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yMas {
  font-family: 'Righteous', cursive;
  color: white;
}

.yMas:hover {
  text-decoration: underline;
  color: blue;
}

/*SECCION INSTRUMENTOS*/
/*BEM*/
.imgInstrumentos {
  height: 15em;
  width: 80%;
  -o-object-fit: cover;
  object-fit: cover;
  border: solid 2px;
  border-radius: 20px;
}

.imgInstrumentos:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
  cursor: pointer;
}

.padInstru {
  padding: 1em;
}

.wrapAudio {
  word-wrap: break-word;
}

.centrarInstru {
  text-align: center;
}

.fuenteGrande {
  font-size: 1.5em;
}

.flexImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transformacion3 {
  text-transform: lowercase;
}

/*FORMULARIO*/
form {
  width: 450px;
  margin: auto;
  border: solid 1.5px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px;
}

.contacto {
  font-family: sans-serif;
  color: black;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
}

#boton {
  background: #7a5a2d;
  color: #fff;
  padding: 20px;
}

.formulario {
  padding-top: 5em;
  padding-bottom: 9.2em;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 990px) {
  .gridGen {
    color: black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "area4 area2 area6" "area4 area2 area6";
  }
  .fotoLogo {
    display: none;
  }
  .divSpotify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .spotify {
    width: 20em;
    height: 20em;
  }
}

@media only screen and (max-width: 768px) {
  .gridGen {
    color: black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
        grid-template-areas: "area4 area4 area6" "area2 area2 area6";
  }
  .formulario {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  .bi-music-note-list {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  form {
    width: 100%;
  }
  .spotify {
    width: 100%;
  }
}
